.buttonSubmit {
    width: 60%;
    margin-top: 40px;
    margin-left: 200px ;
}
label{
    font-family: 'Special Elite', cursive;
    font-size: 80px;
}
h3 {
    font-family: 'Special Elite', cursive;
    font-size: 80px;
}
label{
    font-size: 30px;
}
button {
    font-size: 30px;
}

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border: solid;
 }

form{
    background: url(src/assets/img/simple.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}