.buttonSubmit {
    width: 60%;
    margin-top: 40px;
    margin-left: 200px ;
}
label{
    font-family: 'Special Elite', cursive;
    font-size: 80px;
}
h3 {
    font-family: 'Special Elite', cursive;
    font-size: 80px;
}
label{
    font-size: 30px;
}
button {
    font-size: 30px;
}

