<div class="container-fluid">
    <h2 class="text-center">Add Quote</h2>
    <hr>
    <form (ngSubmit)='publishQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="name">Quote</label>
            <input type="text" required class="form-control" id="Quote" [(ngModel)]="newPublish.quote" name="quote"
                #quote='ngModel'>

        <div class="form-group">
            <label for="author">Author</label>
            <input class="form-control" id="author" [(ngModel)]="newPublish.author"
                name="author" #author="ngModel" required></input>
        </div>

        <div class="form-group">
            <label for="submitBy">Submitted by</label>
            <input type='text' id="submitBy" [(ngModel)]="newPublish.submitBy" name="submitBy"
                #submitBy="ngModel" required>
                </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
