<div class="container-fluid" id ="formEdit">
    <form (ngSubmit)='publishQuote()' #quoteForm='ngForm' >

        <div>
            <link href ="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-NTQXLqWFr6Lt8mISi-3yZSoqgSoCDdicLcYQOoRHBy3SrUQc&usqp=CAU" >
            <h3 class="text-center">Share a Quote..</h3>
            <div class="form-group row">
                <label for="poem" class="col-md-4 col-form-label"> Quote</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="poem" [(ngModel)]="newPublish.poem" name="poem"
                        #quote='ngModel' required>
                </div>
            </div>

            <div class="form-group row">
                <label for="author" class="col-md-4 col-form-label">Author</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="author" [(ngModel)]="newPublish.author" name="author"
                        #author='ngModel' required>
                </div>
            </div>

            <div class="form-group row">
                <label for="submitBy" class="col-md-4 col-form-label">Submitted by</label>
                <div class="col-sm-10">
                    <input class="form-control" type='text' id="submitBy" [(ngModel)]="newPublish.submitBy"
                        name="submitBy" #submitBy='ngModel' required>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-dark  btn-lg btn-block buttonSubmit">Submit</button>
        </div>
    </form>
</div>